*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.hero{
	width: 100%;
	min-height: 100vh;
	background-image: cutie1.png;
	background-position: center;
	background-size: cover;
	padding: 10px 10%;
	overflow: hidden;
}
nav{
	margin-top: -6%;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logotest{
	margin: 2% -2%;
	width: 200px;
}
nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 60px;
}
nav ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 14px 40px;
	color: antiquewhite;
	background-color: #355E3B;
	font-size: 15px;
	border-radius: 40px;
	border-top-right-radius: 40px;
	opacity: 100%;
	font-weight: 600;
	justify-content: space-evenly;
	cursor: pointer;
      margin: 10px;
      border: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
}

nav ul li a:hover {
      background-color: #45a049;
      transform: scale(1.20);
}
.btn{
	display: inline-block;
	text-decoration: none;
	padding: 14px 40px;
	color: antiquewhite;
	background-image: linear-gradient(45deg, #013220 , #C3D9A5);
	font-size: 15px;
	font-weight: 1000;
	border-radius: 40px;
	border-top-right-radius: 40px;
}
.btn2{
	display: inline-block;
	text-decoration: none;
	padding: 14px 40px;
	cursor: pointer;
      margin: 10px;
      border: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
	color: antiquewhite;
	background-color: #355E3B;
	font-size: 20px;
	font-weight: 1000;
	border-radius: 40px;
	border-top-right-radius: 40px;
	opacity: 100%;
}

.btn2:hover {
	background-color: #45a049;
	transform: scale(1.20);
}
.content h1{
	display: inline-block;
	text-decoration: none;
	padding: 14px 40px;
	color: #355E3B;
	background-image: linear-gradient(45deg, #F5F5DC, #F5F5DC);
	font-style: bold;
	font-size: 20px;
	font-weight: 1000;
	border-radius: 50px;
	border-top-right-radius: 50px;
	opacity: 100%;
}
.content{
	margin: 0% -6%;
	margin-top : 0%;
	max-width: 600px;
	color: antiquewhite;
}
.content p{
	padding: 14px;
	margin: 20px 0 30px;
	color: antiquewhite;
	font-weight: bold;
}
.content .btn{
	padding: 15px 80px;
	font-size: 40px;
}
::-webkit-scrollbar {
	display: none;
}
